In [2]:
import numpy as np
import pandas as pd

In [28]:
df = pd.read_excel("D:\\PGDBA Backup\\ISI\\AB-Inference\\Lecture\\21-01-18\\Delhi Accident Data.xlsx")

In [ ]:
df2 =

In [29]:
df.head()

,YEAR,DISTRICT,VEHICLE AT FAULT,VICTIM,TYPE OF ACCIDENT,# INJURED,# KILLED,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,2008,NORTH WEST DELHI,UNKNOWN,CAR,FATAL ACCIDENT,0,1,NaN,NaN,NaN
1,2008,NORTH WEST DELHI,UNKNOWN,CYCLE,SIMPLE ACCIDENT,1,0,NaN,NaN,NaN
2,2008,NEW DELHI,HTV/GDS,PEDESTRIAN,FATAL ACCIDENT,0,1,NaN,NaN,NaN
3,2008,EAST DELHI,S/C&M/C,PEDESTRIAN,SIMPLE ACCIDENT,1,0,NaN,NaN,NaN
4,2008,SHAHDARA,S/C&M/C,PEDESTRIAN,SIMPLE ACCIDENT,1,0,NaN,NaN,NaN

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75748 entries, 0 to 75747
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              75748 non-null  int64
 1   DISTRICT          75748 non-null  object
 2   VEHICLE AT FAULT  75748 non-null  object
 3   VICTIM            75748 non-null  object
 4   TYPE OF ACCIDENT  75748 non-null  object
 5   # INJURED         75748 non-null  int64
 6   # KILLED          75748 non-null  int64
 7   Unnamed: 7        0 non-null      float64
 8   Unnamed: 8        0 non-null      float64
 9   Unnamed: 9        1 non-null      object
dtypes: float64(2), int64(3), object(5)
memory usage: 5.8+ MB

In [37]:
df.columns

Index(['YEAR', 'DISTRICT', 'VEHICLE AT FAULT', 'VICTIM', 'TYPE OF ACCIDENT',
       '# INJURED', '# KILLED ', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [32]:
df["DISTRICT"].unique()

array(['NORTH WEST DELHI', 'NEW DELHI', 'EAST DELHI', 'SHAHDARA',
       'WEST DELHI', 'SOUTH WEST DELHI', 'NORTH DELHI(ROHINI)',
       'NORTH EAST DELHI', 'SOUTH EAST DELHI', 'CENTRAL DELHI',
       'SOUTH DELHI', 'UNK', 'OUTER'], dtype=object)

In [33]:
df.count()

YEAR                75748
DISTRICT            75748
VEHICLE AT FAULT    75748
VICTIM              75748
TYPE OF ACCIDENT    75748
# INJURED           75748
# KILLED            75748
Unnamed: 7              0
Unnamed: 8              0
Unnamed: 9              1
dtype: int64

In [34]:
df.groupby('DISTRICT').size()

DISTRICT
CENTRAL DELHI           8119
EAST DELHI              5599
NEW DELHI               9529
NORTH DELHI(ROHINI)     8903
NORTH EAST DELHI        3153
NORTH WEST DELHI        7013
OUTER                      1
SHAHDARA                4850
SOUTH DELHI             3716
SOUTH EAST DELHI       10096
SOUTH WEST DELHI        7462
UNK                       18
WEST DELHI              7289
dtype: int64

In [41]:
df[df["# KILLED "]==0].groupby('DISTRICT').size()

DISTRICT
CENTRAL DELHI          6010
EAST DELHI             4524
NEW DELHI              7178
NORTH DELHI(ROHINI)    6133
NORTH EAST DELHI       2472
NORTH WEST DELHI       5360
OUTER                     1
SHAHDARA               3922
SOUTH DELHI            2925
SOUTH EAST DELHI       7930
SOUTH WEST DELHI       5643
UNK                      10
WEST DELHI             5279
dtype: int64

# Hit and run cases

In [42]:
df[df["VEHICLE AT FAULT"]=="UNKNOWN"]

,YEAR,DISTRICT,VEHICLE AT FAULT,VICTIM,TYPE OF ACCIDENT,# INJURED,# KILLED,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,2008,NORTH WEST DELHI,UNKNOWN,CAR,FATAL ACCIDENT,0,1,NaN,NaN,NaN
1,2008,NORTH WEST DELHI,UNKNOWN,CYCLE,SIMPLE ACCIDENT,1,0,NaN,NaN,NaN
5,2008,WEST DELHI,UNKNOWN,PEDESTRIAN,SIMPLE ACCIDENT,1,0,NaN,NaN,NaN
7,2008,SOUTH WEST DELHI,UNKNOWN,PEDESTRIAN,SIMPLE ACCIDENT,1,0,NaN,NaN,NaN
11,2008,SOUTH WEST DELHI,UNKNOWN,PEDESTRIAN,FATAL ACCIDENT,0,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
75723,2017,CENTRAL DELHI,UNKNOWN,PEDESTRIAN,SIMPLE ACCIDENT,1,0,NaN,NaN,NaN
75725,2017,NORTH WEST DELHI,UNKNOWN,PEDESTRIAN,FATAL ACCIDENT,0,1,NaN,NaN,NaN
75729,2017,WEST DELHI,UNKNOWN,PEDESTRIAN,FATAL ACCIDENT,0,1,NaN,NaN,NaN
75735,2017,SOUTH WEST DELHI,UNKNOWN,PEDESTRIAN,FATAL ACCIDENT,0,1,NaN,NaN,NaN
75741,2017,SOUTH DELHI,UNKNOWN,PEDESTRIAN,SIMPLE ACCIDENT,1,0,NaN,NaN,NaN

In [46]:
df[df["VEHICLE AT FAULT"]=="UNKNOWN"].groupby('DISTRICT').size()

DISTRICT
CENTRAL DELHI          2067
EAST DELHI             1396
NEW DELHI              2512
NORTH DELHI(ROHINI)    2467
NORTH EAST DELHI        743
NORTH WEST DELHI       1589
SHAHDARA               1046
SOUTH DELHI             887
SOUTH EAST DELHI       2606
SOUTH WEST DELHI       1959
UNK                       6
WEST DELHI             1867
dtype: int64

In [45]:
df[(df["VEHICLE AT FAULT"]=="UNKNOWN") & (df["# KILLED "]==0)].groupby('DISTRICT').size()

DISTRICT
CENTRAL DELHI          1145
EAST DELHI              959
NEW DELHI              1496
NORTH DELHI(ROHINI)    1339
NORTH EAST DELHI        463
NORTH WEST DELHI       1023
SHAHDARA                695
SOUTH DELHI             602
SOUTH EAST DELHI       1754
SOUTH WEST DELHI       1227
UNK                       4
WEST DELHI             1039
dtype: int64