In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_excel("D:\PGDBA Backup\ISI\AB-Inference\Assignments\Datasets\Effort and Arrival.xlsx")

In [3]:
df.head()

,Job Level of the employee,# of years of experience,ITILProcessType,Complexity,Effort,Service Domain type
0,3,0.72,Release Management,Medium,55,App suport
1,3,0.72,Release Management,Medium,55,App suport
2,3,2.75,Service Request,Medium,72,Database Support
3,3,0.72,Release Management,Medium,55,App suport
4,3,0.72,Release Management,Medium,55,App suport

In [4]:
df.describe()

       Job Level of the employee  # of years of experience       Effort
count                6460.000000               6447.000000  6460.000000
mean                    3.107121                  2.542984    81.263777
std                     0.518712                  1.738865    84.607490
min                     2.000000                  0.720000     1.000000
25%                     3.000000                  1.230000    30.000000
50%                     3.000000                  2.060000    52.000000
75%                     3.000000                  3.380000   103.000000
max                     5.000000                 11.760000   646.000000

In [10]:
df["ITILProcessType"].unique()

array(['Release Management', 'Service Request', 'Incident Management'],
      dtype=object)

In [11]:
df["Complexity"].unique()

array(['Medium', 'Simple', 'Complex'], dtype=object)

In [12]:
df["Service Domain type"].unique()

array(['App suport', 'Database Support'], dtype=object)

In [28]:
df_new = df[(df["ITILProcessType"] == "Service Request") 
            & (df["Complexity"] == "Simple") 
            & (df["Service Domain type"] == "App suport")]

In [29]:
df_new.count()

Job Level of the employee    725
# of years of experience     725
ITILProcessType              725
Complexity                   725
Effort                       725
Service Domain type          725
dtype: int64

In [50]:

df_sample = df_new.sample(20)

In [51]:
df_sample["Effort"].mean()

67.75

In [54]:
df_new.sample(20)["Effort"].mean()

66.2

In [145]:
n=20   # As sample size increases std error decreases

m=100   #number of samples


avg_effort = []

for i in range(0,m):
    avg_effort.append(df_new.sample(n)["Effort"].mean())

mean_of_sample_means = np.array(avg_effort).mean() # mean of various sample means
std_error=np.std(avg_effort)   # std error in estimated sample mean

In [146]:
mean_of_sample_means

64.81

In [147]:
std_error

12.666536622139455

In [148]:
mu = np.mean(df_new["Effort"])
mu

63.51034482758621

In [149]:
sigma = np.std(df_new["Effort"])
sigma

52.940997377546374

In [150]:
sigma/(n)**0.5   #check this is close to standard error of samples

11.837966893283179